build/
*.log
node_modules/
frontend_app/android/.gradle/
frontend_app/android/app/build/
frontend_app/android/build/
frontend_app/ios/App/Pods/
frontend_app/ios/App/build/
__pycache__/
logs/
creds.txt
settings.json
.env
.env.*
.venv/
.virtualenvs/
